.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  z-index: 1;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

/* выше установили ограничения для секции */

/*логотип яндекса*/
.logo_place_header {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 30px;
  left: 64px;
  width: 228px;
  height: 32px;
}

/*заголовок*/
.header__title {
  margin: 0;
  padding: 0;
  width: 730px;
  align-self: center;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
}

/*подзаголовок*/
.header__subtitle {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 3;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

/*Картинка снова двойка*/
.header__main-illustration {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  object-fit: cover;
}

/*ссылка в шапке*/
.header__link {
  color: #2f80ed;
  text-decoration: none;
}

/*синий квадрат*/
.header__square-pic {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 568px;
  height: 568px;
  top: 64px;
  right: 0;
  z-index: -1;
  background-color: #2f80ed;
}

/*!Блок description*/
.description {
  margin: 0;
  padding: 0;
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

/*Блок две колоннки*/
.two-colums {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

/*1я колоннка*/
.two-colums__brief {
  width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

/*2я колоннка*/
.two-colums__main-text {
  width: 80%;
  min-width: 784px;

}

/*текст*/
.two-colums__paragraph {
  margin: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

/*отступы у текста*/
.two-colums__paragraph:nth-of-type(3n) {
  margin-bottom: 0;
}

/*выделение вывода*/
.two-colums__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/* !Блок digits */
.digits {
  margin: 0 auto;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  margin-top: 100px;
  margin-bottom: 100px;
}

/*заголовок*/
.section-title {
  margin: 0px;
  margin-top: 100px;
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

/*подзаголовок*/
.section-subtitle {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

/*таблицы*/
.table {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  width: 1100px;
  margin: 60px auto;
}

/*ячейка таблицы*/
.table__cell {
  width: 250px;
  text-align: center;
  padding-top: 60px;
}

/*заголовок таблицы*/
.table__heading {
  text-align: left;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;

}

/*текст таблицы*/
.table__text {
  margin-top: 20px;
  margin-bottom: 0;
  text-align: left;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/*!Блок Фейман*/
.feyman {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 890px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: bottom left;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

/*заголовок*/
.feyman__title {
  width: 648px;
  text-align: center;
  margin: 100px auto 100px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

/*подзаголовок*/
.feyman__subtitle {
  margin: 0;
  text-align: center;
  margin-top: 30px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

/*ссылка*/
.feyman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

/*!Kayfman*/
.kaufman {
  position: relative;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  padding-bottom: 90px;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

/*заголовок*/
.section-title_theme_dark {
  color: white;
  margin-top: 90px;
}

/*подзаголовок*/
.section-subtitle_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  margin: 0;
  padding: 0;
  /*padding: 80 0 90 0;*/
}

/*ячейки таблицы*/
.table__cell_theme_dark {
  margin: 0;
  padding: 0;
  color: white;
  position: relative;
  width: 200px;
  padding-top: 80px;
}

/*заголовок ячейки таьлицы*/
.table__heading_theme_dark {
  color: white;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;

}

/*текст ячейки таблицы*/
.table__text_theme_dark {
  color: white;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/*треугольник*/
.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  right: -210px;
  width: 877px;
  height: 877px;
  z-index: -1;
}

/*Footer**/
.footer {
  box-sizing: border-box;
  padding: 60px 0 40px;
  margin: 0;
  background-color: #1f1f1f;
  min-height: 350px;
  display: flex;
  justify-content: space-between;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

/*колоннки*/
.footer__columns {
  display: flex;
  width: 90%;
  color: white;
  justify-content: space-around;
  margin: 0 auto;
}

/*часть про лого и копирайт*/
.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*логотип*/
.logo_place-footer {
  width: 228px;
  height: 32px;
}

/*автор*/
.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

/*часть про "о нас"*/
.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

/*заголовок*/
.footer__column-heading {
  margin: 0;
  color: white;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

/*ссылки*/
.footer__column-links {
  color: white;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  list-style: none;
}

/*ссылка*/
.footer__column-link {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}

/*соцсети*/
.footer__column_content-social {
  margin-bottom: 16px;
}

/*иконки-соцсетей*/
.footer__social-icon {
  padding-right: 10px;
  text-decoration: none;
}
